*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--second-font-color);
  overflow-x: hidden;
}

.bd {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .bd {
    padding-top: 80px;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
  display: block;
  border-radius: 4px;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.blue-txt {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3;
  font-family: "Raleway";
}

textarea {
  resize: none;
}

ul {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: #212121;
}

.menu {
  display: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 91px;
  }
}
.menu__link {
  font-family: "Roboto";
  display: block;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: #2196F3;
}
@media screen and (min-width: 767px) {
  .menu {
    display: flex;
    gap: 50px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.menu--current {
  color: #2196F3;
  position: relative;
}
.menu--current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.contact {
  text-decoration: none;
  display: none;
  margin-left: auto;
}
.contact__link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact__link:hover {
  color: #2196F3;
}
.contact__link:focus {
  color: #2196F3;
}
@media screen and (min-width: 480px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  height: 609px;
  background-color: #FFFFFF;
  border-radius: 4px;
  width: 300px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal-button {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  color: #FFFFFF;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: inherit;
}
.close__icon {
  width: 17px;
  height: 17px;
  fill: currentColor;
}
.close:hover {
  color: #2196F3;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.field:not(:last-child) {
  margin-bottom: 10px;
}
.field__input {
  padding: 11px 12px;
  padding-left: 42px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: #2196F3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input:hover, .field__input:focus {
  border-color: #2196F3;
}
.field__input-coment {
  padding: 12px 16px;
  height: 120px;
  cursor: pointer;
  color: var(--contact-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: var(--hover-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input-coment:hover, .field__input-coment:focus {
  border-color: #2196F3;
}
.field__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.field__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input:hover + .field__icon, .field__input:focus + .field__icon {
  fill: #2196F3;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.check {
  /* Focused */
}
.check__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.check__box {
  position: relative;
  min-width: 16px;
  height: 15px;
  overflow: hidden;
  border-radius: 1px;
  background-color: inherit;
  border: 2px solid #212121;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check__icon {
  width: 13px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check__input:checked + .check__box {
  background-color: #2196F3;
  border-color: #2196F3;
}
.check__input:focus + .check__box {
  border-color: #2196F3;
}
.check__label {
  margin-left: 8px;
  cursor: pointer;
  color: #757575;
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .check__label {
    font-size: 14px;
    line-height: 1.71;
  }
}
.check__link {
  color: #2196F3;
}

.hero {
  background-color: #2F303A;
  padding: 118px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 480px;
  height: 400px;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-mobile.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/heroBG.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/heroBg-2x.jpg);
  }
}
.hero__text {
  color: #FFFFFF;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.36;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__text {
    color: #FFFFFF;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    line-height: 1.36;
    font-weight: 900;
    width: 360px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .hero__text {
    width: 696px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
.hero__button {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  margin: 0 auto;
}

.about-desc {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: insert(100%);
          clip-path: insert(100%);
  clip: rect 0 0 0 0;
  overflow: hidden;
}
.about__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .about__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__title {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
.about__box {
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__icon {
  width: 70px;
  height: 70px;
}
.about__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #757575;
}

.gonna {
  padding-top: 0;
  display: none;
}
.gonna__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .gonna {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .gonna__list {
    display: flex;
  }
}
.gonna__item:not(:last-child) {
  margin-right: 30px;
}
.gonna__item {
  position: relative;
}
.gonna__text {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.14;
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
}

.team {
  background-color: #F5F4FA;
}
.team__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.team__item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__desc {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .team__desc {
    font-size: 36px;
    line-height: 1.16;
  }
}
.team__img {
  width: 100%;
}
.team__text {
  padding: 30px 0;
}
.team__name {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  margin-bottom: 10px;
}
.team__position {
  text-align: center;
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  background-color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}
.social__icon {
  fill: currentColor;
}

.client__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.client__item {
  flex-basis: calc((100% - 30px) / 2);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}
.client__link:hover, .client__link:focus {
  border: 1px solid #2196F3;
  color: #2196F3;
}
.client__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.page-footer {
  background-color: #2F303A;
  padding: 60px 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
  }
}
.footer-logo {
  display: block;
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #FFFFFF;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    text-align: left;
  }
}
.footer__curent {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__curent:hover, .footer__curent:focus {
  color: #2196F3;
}
.footer__right-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .footer__right-title {
    text-align: left;
  }
}
.footer__right {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__right {
    display: block;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__right {
    display: block;
    margin-bottom: 0;
  }
}
.footer__left {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__left {
    margin-right: 165px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__left {
    margin-right: 70px;
    text-align: left;
    margin-bottom: 0;
  }
}
.footer__list {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}
.footer__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  background-color: #2196F3;
}
.footer__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer__email {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: inherit;
  margin-right: 12px;
  outline: none;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
}
@media screen and (min-width: 480px) {
  .footer__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__email {
    width: 358px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form__footer {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .form__footer {
    margin-left: auto;
  }
}
.form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .form__container {
    flex-direction: row;
    align-items: baseline;
  }
}
.form__description {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .form__description {
    text-align: left;
  }
}

.adress__list {
  margin-top: 20px;
}
.adress__item:not(:last-child) {
  margin-bottom: 9px;
}
.adress__link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.7;
  font-weight: 400;
  font-style: normal;
}
.adress__first {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-style: normal;
}

.subscribe {
  min-width: 200px;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.subscribe__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.btn {
  font-family: "Roboto", serif;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 0;
  cursor: pointer;
  background-color: #F5F4FA;
  letter-spacing: 0.03em;
  color: #212121;
  min-width: 73px;
  padding: 6px 22px;
  white-space: nowrap;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  row-gap: 15px;
}
.btn:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 8px;
  row-gap: 15px;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .btn-panel {
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .btn-panel {
    margin-bottom: 30px;
  }
}

.portfolio {
  border-bottom: 1px solid #ECECEC;
}
.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: insert(100%);
          clip-path: insert(100%);
  clip: rect 0 0 0 0;
  overflow: hidden;
}

.goods__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.goods__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.goods__link:hover, .goods__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.goods__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .goods__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .goods__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.goods__box {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 0.9333333333);
}
.goods__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  color: #212121;
}
.goods__text {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}
.goods__picture {
  width: 370px;
}

.item__overlay {
  position: relative;
  overflow: hidden;
}

.overlay__container {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 295px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__text {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.5;
  display: block;
  padding: 63px 24px;
}

.goods__link:hover .item__overlay .overlay__container,
.goods__link:focus .item__overlay .overlay__container {
  transform: translateY(0);
}

.menu-toggle {
  display: inline-flex;
  color: black;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: auto;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  transform: translateX(150%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mobile--cur {
  color: #2196F3 !important;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mobile-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-link:hover, .mobile-link:focus {
  color: #2196F3;
}
.mobile-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: auto;
}
.mobile-contact__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-contact__link--tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.mobile-soc {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 64px;
}

.soc__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.soc_item:not(:last-child)::after {
  content: "";
  width: 22px;
  height: 100%;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  color: #757575;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */