.client{
    &__list{
        display: grid;
        grid-template-columns: repeat(2,210px);
        gap: 30px;
        justify-content: center;

        @media screen and(min-width:768px) {
            display: grid;
            grid-template-columns: repeat(3,226px);
            gap: 30px;
        }

        @media screen and(min-width:1200px) {
            display: flex;
        }
    }

    &__icon{
        width: 106px;
        height: 60px;
        fill:currentColor ;
    }

    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        @media screen and(min-width:1200px) {
            width: 170px;
        }
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        color: #AFB1B8;
        transition: color $transitionDuration $animationTimingFunction,
        border-color $transitionDuration $animationTimingFunction;
        
        &:hover,
        &:focus{
            border: 1px solid $hoverColor;
            color:$hoverColor;
        }
    }

    &__title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        margin-bottom: 50px;
    }
}