.contact {
    text-decoration: none; 
    display: none;
    margin-left: auto;
    &__link{ 
        font-family: 'Roboto', sans-serif; 
        text-decoration: none; 
        color: $contactColor;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        transition: color $transitionDuration $animationTimingFunction;
        
        @media screen and (min-width:768px) {
            
        }
    } 
    &__icon{
    margin-right: 10px;
    fill: currentColor;
    }
    &__link:hover{
        color: $hoverColor;
    }
    &__link:focus{
        color: $hoverColor;
    }

    @media screen and (min-width:480px) {
        display: none;
    }
    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    @media screen and (min-width:1200px) {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

}
