.page-footer{
    background-color: $heroBg;
    padding: 60px 0;
}

.footer{
    
    
    @media screen and(min-width:768px) and (max-width:1199px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
        justify-content: center;  
        gap: 0;    
        align-items: baseline;
    }

    @media screen and(min-width:1200px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
    }

    
    &-logo{
        display: block;
        text-align: center;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: $secondFontColor;
        text-decoration: none;
        @media screen and(min-width:1200px) {
            text-align: left;
        }
    }
    &__curent{
        transition: color $transitionDuration $animationTimingFunction;
        &:hover,
        &:focus{
            color: $hoverColor;
        }
    }

    &__right-title{
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: $secondFontColor;
        @media screen and(min-width:1200px) {
            text-align: left;
        }
    }
    &__right{
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and(min-width:768px) and (max-width:1199px) {
            display: block;
            margin-bottom: 0;
        }
        @media screen and(min-width:1200px) {
            display: block;
            margin-bottom: 0;
        }
    }

    &__left{
        text-align: center;
        margin-bottom: 60px;
        @media screen  and(min-width:768px) {
            margin-right: 165px;
            margin-bottom: 0;
        }

       @media screen  and(min-width:1200px) {
        margin-right: 70px;
        text-align: left;
        margin-bottom: 0;
        }    
    }

    &__list{
        display: flex;
        margin-top: 20px;
        gap: 10px;
    }

    &__icon{
        width: 20px;
        height: 20px;
        fill: $secondFontColor;
    }

    &__link{
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:$footerLinks;
        transition: background-color $transitionDuration $animationTimingFunction;

        &:hover,
        &:focus{
            background-color: $hoverColor;
        }
    }

    &__form{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    &__email{
        width: 100%;
        @media screen and(min-width:480px) {
            width: 450px;
        }
        @media screen and(min-width:1200px) {
            width: 358px;
        }
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        background: inherit;
        margin-right: 12px;
        outline: none;
        margin-bottom: 20px;
    
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        padding: 15px 16px;
    }
}

.form{
    &__footer{
        @media screen and(min-width:768px) and(max-width:1199px) {
            margin-top: 60px;
        }
        @media screen and(min-width:1200px) {
            margin-left: auto;
        }
    }
    &__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        @media screen and(min-width:1200px) {
            flex-direction: row;
            align-items: baseline;
        }
    }

    &__description{
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:$secondFontColor;
        margin-bottom: 20px;
        text-align: center;
        @media screen and(min-width:1200px) {
            text-align: left;
        }
    }
   
}

.adress{
    &__list{
        margin-top: 20px;
    }
    &__item:not(:last-child){
        margin-bottom: 9px;
    }
    &__link{
        font-size: 14px;
        color: rgba(255, 255, 255, 0.6);;
        text-decoration: none;
        letter-spacing: 0.03em;
        line-height: 1.7;
        font-weight: 400;
        font-style: normal;
       

    }

    &__first{
        color:$secondFontColor;
        font-size: 14px;
        line-height: 1.7;
        text-decoration: none;
        letter-spacing: 0.03em;
        font-style: normal;
    }
}

.subscribe{
    min-width: 200px;
    padding: 10px 0;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background-color: $hoverColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: $secondFontColor;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    &__icon{
        margin-left: 10px;
        width: 24px;
        height: 24px;
    }
}