.header{
    display: flex;
    align-items: center;
    height: 60px;

    @media screen and(min-width:768px) {
        height: 80px;
    }
}


.logo{ 
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    color:$mainColor;
    margin-right: 93px;
} 

 
 
 


