.menu{ 
    display: none;
    padding: 0;
    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 88px;
      }
    
      @media screen and (min-width: 1200px) {
        margin-left: 91px;
      }
    &__link{ 
        font-family: 'Roboto';
        display: block;
        color: $mainColor;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.14;
        padding: 32px 0;
        transition: color $transitionDuration $animationTimingFunction;
        &:hover,
        &:focus{
            color:$hoverColor;   
        }

    }

    
    @media screen and(min-width:767px) {
           display: flex;
           gap: 50px;
    }
}

.navigation{
    display: flex;
    align-items: center;
}

.menu--current{
    color:$hoverColor;
    position: relative;

    &::after{
        content:"";
        position: absolute;
        display: block;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color:$hoverColor;

    }

} 

   
    

 
